<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14286830623-uoki7s7rhslt1qtufig7ml3oahaejbfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14286830623-uoki7s7rhslt1qtufig7ml3oahaejbfc</string>
	<key>API_KEY</key>
	<string>AIzaSyA-tK46TzUOhYyFy6r9gyt6t5JjbyKiI1s</string>
	<key>GCM_SENDER_ID</key>
	<string>14286830623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.tinder.MetadataPOC</string>
	<key>PROJECT_ID</key>
	<string>metadatapoc-e7403</string>
	<key>STORAGE_BUCKET</key>
	<string>metadatapoc-e7403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14286830623:ios:2f203016343dae6c28692a</string>
	<key>DATABASE_URL</key>
	<string>https://metadatapoc-e7403.firebaseio.com</string>
</dict>
</plist>